:root {
  --primary: #212529;
  --secondary: #f5f5f5;
  --accent: #a9cec2;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

.accordion-button,
.accordion-item {
  background-color: var(--primary);
  color: var(--secondary);
}
.accordion-button[aria-expanded="true"]:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.card-image {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.card-body {
  min-width: 400px;
}

.card {
  background-color: #404040;
}

.header {
  letter-spacing: 20px;
  text-transform: uppercase;
  font-weight: 100;
  color: var(--accent);
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.circle-image {
  border-radius: 50%;
  object-fit: cover;
}
