body {
  background-color: #212529;
  color: #f5f5f5;
}

a {
  color: #f5f5f5;
}

.accordion-button,
.accordion-item {
  background-color: #212529;
  color: #f5f5f5;
}
.accordion-button[aria-expanded="true"]:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.card-image {
  height: 200px;
  width: 200px;
}

.card-body {
  min-width: 400px;
}

.banner {
  background-color: black;
  color: #f5f5f5;
}

.header {
  font-weight: bold;
  font-style: italic;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.section {
  padding-top: 70px;
}
